* {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------------------Header */

.banner {
    background-color: blue;
    height: 80vh;
    min-height: 600px;
    background-image: url("/IMGs/image-header.jpg");
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.nav {
    display: flex;
    font-size: 20px;
    color: white;
    align-items: center;
}

.nav span{
    margin-right: 30px;
    cursor: pointer;
}

.contact {
    background-color: white;
    padding: 8px 30px;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.contact:hover{
    background-color: antiquewhite;
}

.main-cta {
    display: flex;
    flex-direction: column; /* flips alignment when used */
    align-items: center; /* Normally vertical alignment */
    justify-content: center; /* Normally horizontal alignment */
    font-size: 50px;
    flex-grow: 1;
    color: white;
    font-weight: bold;
    font-size: 70px;

}

.arrow {
    margin-top: 60px;
}

.section1, .section2, .section3 {
    display: flex;
    height: 475px;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .text-container {
    width: 70%;
}

.left h1 {
    font-size: 40px;
    margin-bottom: 16px;
    color: rgb(74, 74, 102);
}

.left p {
    color: #848391;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}

.left .button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left div img {
    width: 150px;
}

.left, .right {
    flex: 1;
}

.section2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section2 .text-container {
    width: 70%;
}

.section2 .left {
    background-image: url(/IMGs/image-stand-out.jpg);
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section2 .right {
    align-items: center;
    justify-content: center;
    display: flex;
}

.right h1 {
    font-size: 40px;
    margin-bottom: 16px;
    color: rgb(50, 50, 87);
}

.right p {
    font-family: Arial, Helvetica, sans-serif;
    color: #848391;
    line-height: 1.3;
    margin-bottom: 16px;
}

.right .button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right div img {
    width: 150px;
}

.section3 .left {
    background-image: url(/IMGs/image-graphic-design.jpg);
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section3 .right {
    background-image: url(/IMGs/image-photography.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section3 .text-container {
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
    font-family: system-ui;
}

.section3 h1 {
    font-size: 30px;
}

.section3 .right p {
    color: rgb(50, 50, 87);
}