* {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------------------Header */

.banner {
    background-color: blue;
    height: 80vh;
    min-height: 600px;
    background-image: url("/IMGs/image-header.jpg");
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.nav {
    display: flex;
    font-size: 20px;
    color: white;
    align-items: center;
}

.nav span{
    margin-right: 30px;
    cursor: pointer;
}

.contact {
    background-color: white;
    padding: 8px 30px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.contact:hover{
    background-color: antiquewhite;
}

.main-cta {
    display: flex;
    flex-direction: column; /* flips alignment when used */
    align-items: center; /* Normally vertical alignment */
    justify-content: center; /* Normally horizontal alignment */
    flex-grow: 1;
    color: white;
}

.text {
    font-size: 70px;
    font-weight: bold;
}

.arrow {
    margin-top: 60px;
}

/* --------------------------------------------------------------- Section 1 */

.section1, .section2, .section3 {
    display: flex;
    height: 475px;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .text-container {
    width: 70%;
}

.left h1 {
    font-size: 40px;
    margin-bottom: 16px;
    color: rgb(50, 50, 87);
}

.left p {
    color: #848391;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}

.left .button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left div img {
    width: 150px;
}

.left, .right {
    flex: 1;
}

/* --------------------------------------------------------------- Section 2 */

.section2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section2 .text-container {
    width: 70%;
}

.section2 .left {
    background-image: url(/IMGs/image-stand-out.jpg);
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section2 .right {
    align-items: center;
    justify-content: center;
    display: flex;
}

.right h1 {
    font-size: 40px;
    margin-bottom: 16px;
    color: rgb(50, 50, 87);
}

.right p {
    font-family: Arial, Helvetica, sans-serif;
    color: #848391;
    line-height: 1.3;
    margin-bottom: 16px;
}

.right .button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right div img {
    width: 150px;
}

/* --------------------------------------------------------------- Section 3 */

.section3 .left {
    background-image: url(/IMGs/image-graphic-design.jpg);
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section3 .right {
    background-image: url(/IMGs/image-photography.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.section3 .text-container {
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
    font-family: system-ui;
}

.section3 h1 {
    font-size: 30px;
}

.section3 .right p {
    color: rgb(50, 50, 87);
}

/* --------------------------------------------------------------- Testimonials Section */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px;
}

.testimonials-title {
    color: #A0A1A2;
    font-size: 20px;
    font-family: system-ui;
    margin-bottom: 125px;
}

.clients-section {
    display: flex;
    justify-content: space-between;
}

.clients-section .client-tab {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    align-items: center;
}

.client-tab p {
    line-height: 1.5;
    font-size: 16px;
    color: #848391;
    font-family: system-ui;
    text-align: center;
}

.p-style {
    margin-top: 70px;
}

.client-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.client-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-tag {
    margin-top: 20px;
}

.name-tag h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.name-tag p {
    margin-top: 10px;
}

/* --------------------------------------------------------------- Pics Section */

.pic-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-sec .pics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pics img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --------------------------------------------------------------- Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #90d4c5
}

.footer h1 {
    margin-top: 50px;
    font-family: system-ui;
    color: #2d7466;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #90d4c5 
}

.footer-menu span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 25px;
    cursor: pointer;
    color: #2d7466;
}

.footer-menu span p:hover {
    color: white;
}

.social-links-section .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.social-links a i {
    text-align: center;
    padding: 10px;
    height: 24px;
    width: 24px;
    color: #2d7466;
}

.social-links a i:hover {
    color: white;
}

/* --------------------------------------------------------------- Media Queries */

@media screen and (max-width: 600px) {
    /* --------------------------------------------------------------- Header */

    .main-cta {
        font-size: 50px;
    }


}

